// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer-3);

}

.masthead-title {
  display: flex;
  justify-content: space-between;

  margin-bottom: 0;

  a {
    color: inherit;
    text-decoration: none;
  }

  small {
    font-weight: 400;
    opacity: .5;
  }

}

// Navbar styles
.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  text-align: right;

  width: 55%;
}

@media (max-width: 600px){
  .nav {
    flex-direction: column;
  }
}